/* product */
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.product_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
}
.product h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.product img {
  width: 400px;
  height: 400px;

  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.product_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  overflow: hidden;
  overflow-x: scroll;
  gap: 2rem;
}

.product_container::-webkit-scrollbar {
  background: lightgray;
  border: none;
}

.product_description {
  flex: 1;
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: #333;
  font-size: 1rem;
}

.product_description p {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  line-height: 1.5;
}

#product_btn {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: shining 2s infinite;
}

#product_btn a {
  text-decoration: none;
  color: #fff;
}

@keyframes shining {
  0% {
    background-color: #333;
  }

  50% {
    background-color: #757474;
  }

  100% {
    background-color: #333;
  }
}
